$color_1: black;
$color_2: rgb(82, 82, 82);
$color_3: white;
$color_4: #a8d6f7;
$color_5: #c5e2f7;
$font-family_1: 'Work Sans', sans-serif;
$background-color_1: white;
$background-color_2: #48708d;
$background-color_3: transparent;
$background-color_4: #233542;
$background-color_5: #2f4758;
$background-color_6: rgb(196, 196, 196);
$background-color_7: #a9c5d1;
$background-color_8: #795650;
$background-color_9: #7795a1;
$border-color_1: (rgb(118, 118, 118), rgb(133, 133, 133));